<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/public/css/style.css">
<body>
<h1>Please Enter Your Garden Name: <input class="garden_name"></h1>

  <div class="row flex-row-reverse">
        <button class="mt-5 ml-5 btn-lg btn btn-success" type="submit">Create Garden</button>
<h2>Please use the dropdown fields below to select your 8 plants</h2>
<div class=" btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant A
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant B
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant C
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant D
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant E
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant F
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>
<div class="btn-group">
    <button class="ml-5 btn btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plant G
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
</div>
</div>

<main class="mt-5 row">
    <div id="a" class="card col-sm-3 " style="width: 18rem;">

       <div class="row flex-row-reverse">
        <button class="mt-5 ml-5 btn-lg btn btn-success" type="submit">Create Garden</button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/createGarden.js"></script>

    </body>
    </html>