<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

    <title>Greenthumb</title>
</head>

<body>
    <main class="bodyColor">
        <div class="mt-5 mx-auto card" style="width: 50rem;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for ="email">Email</label>
                        <input id= "username1" type ="username" class="form-control" placeholder="Enter Email">
                    <div class="form-group">
                        <label for ="password">Password</label>
                        <input id="password" type ="password" class="form-control" placeholder="Enter Password">
                    </div>
                </form>
                <button id="createUser" class="btn btn-primary" type="submit">Create An Account</button>
                <button id="loginBtn" class="btn btn-success float-right" type="submit">Login</button>
                
                <body2 class=>
                <body2 id="cUser"class="d-none">
                    <form>
                        <div class="form-group">
                            <label for ="name">Name</label>
                            <input id="uName" type ="name" class="form-control" placeholder="Enter Name">
                        <div class="form-group">
                            <label for ="username">Email</label>
                            <input id="uEmail" type ="username" class="form-control" placeholder="Enter Email">
                        <div class="form-group">
                            <label for ="password">Password</label>
                            <input id="userPassword" type ="password" class="form-control" placeholder="Enter Password">
                            <button id="sumbitUser" class="btn btn-primary" type="submit">Create An Account</button>
                        </div>
                    </form>
                </body2>
            </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>
<script src="/js/createAccount.js"></script>

</body>
</html>