<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center"> Welcome back </h1>
    <button id="createGarden" class="justify-left btn-lg btn btn-primary" type="submit">Create Garden</button>
   <div class="row flex-row-reverse">
    <div class="card mr-5 justify-right" style="width: 18rem;">
        <h2 class="card-title">Your Gardens</h2>
        <ul class="list-group list-group-flush">
            
          <li class="list-group-item">Antonio's Garden</li>
          
        </ul>
      </div>
    </div>
    
    <h2 class="mt-5">Antonio's Garden</h2>
    <main class="row">
    <div id="Cabbage" class="card col-sm-3 " style="width: 18rem;">
        <div class="card-body">
            <h3>Cabbage</h3>
            </div>
            </div>
    <div id="Zucchini" class="card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Zucchini</h3>
            </div>
            </div>
    <div id="Garlic" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Garlic</h3>
            </div>
        </div>
    <div id="Pumpkin" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Pumpkin</h3>
            </div>
        </div>
    <div id="Blueberry" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Blueberry</h3>
            </div>
        </div>
    <div id="Artichoke" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Artichoke</h3>
             </div>
            </div>
    <div id="Mint" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Mint</h3>
            </div>
        </div>
    <div id="Eggplant" class="card card col-sm-3" style="width: 18rem;">
            <div class="card-body">
            <h3>Eggplant</h3>
            </div>
        </div>   

        </main>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/userpage.js"></script>
</body>
</html>