#hb {
    background-color:forestgreen;
}
#bodyColor {
    background-color: olive;
}
.bg-checkbox {
    width: 1.55rem;
    height: 1.55rem;
}
#Tomato
{
    background-color:crimson,
      
}
#Lettuce {
    background-color:lawngreen
}
#Kale {
    background-color:darkgreen
}
#Potato {
    background-color:sandybrown
}
#Jalapeno {
    background-color:darkolivegreen
}
#Rosemary {
    background-color:lightgreen
}
#Thyme { 
    background-color:green
}
#Beet {
    background-color:darkred
}
#Eggplant {
    background-color:purple
}
#Mint {
    background-color:lightgreen
}
#Artichoke {
    background-color:darkseagreen
}
#Cabbage{
    background-color:rebeccapurple
}
#Cauliflower{
    background-color:navajowhite
}
#Zucchini{
    background-color:seagreen
}
#Spaghetti Squash{
    background-color:yellow
}
#Garlic{
    background-color:antiquewhite
}
#Pumpkin{
    background-color:orange
}
#Blueberry{
    background-color:darkblue
}
#Arugula{
    background-color:yellowgreen
}

#Corn {
    background-color:yellow
}